*{
    box-sizing: border-box;
    
}

.form{
    padding: 16px 0;
    margin-right: 25px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 200px 0 8px;
    text-align: center;
    font-size: 48px;
    color: rgb(50, 106, 170);
}

.name{
    font-weight: 600;
    margin: 5px;
}

.email{
    font-weight: 600;
    margin: 5px;
}

.password{
    font-weight: 600;
    margin: 5px;
}

button.button{
    background-color: rgb(38, 170, 38);
    margin-left: 50px;
    padding: 8px 8px;
    font-weight: 700;
    font-size: 24px;
}